.home .title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
    align-items: center;
    font-weight: 500;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
}

.products-list {
    margin-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

i {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1rem;
}

.img {
    width: 50%;
    height: 50%;
}

.content {
    font-weight: 300;
}
