<button mat-raised-button (click)="navigateToProductCreate()" class="create-button">
    Create Product
</button>
<div class="container">
    <div *ngFor="let product of products" class="products-list">
        <mat-card class="home mat-elevation-z3">
            <mat-card-title class="title"> 
                <span>{{product.name}}</span>
            </mat-card-title>
            <img mat-card-image src="assets/images/images.png" class="img">
            <mat-card-content class="content" >
                Description:
                <span *ngIf="product.description; else elseBlock">{{product.description}}</span>
                <ng-template #elseBlock>Not available</ng-template>
            </mat-card-content>		
            <mat-card-subtitle class="subtitle">
                <span>{{product.price | currency }}</span>
            </mat-card-subtitle>
            <mat-card-actions>
                <a routerLink="/products/update/{{product.id}}">
                    <i class="material-icons" style="color:green;">
                        edit
                    </i>
                </a> 
                <a routerLink="/products/delete/{{product.id}}">
                    <i class="material-icons" style="color: red;">
                        delete
                    </i>
                </a> 
            </mat-card-actions>		   	
        </mat-card>
    </div>
</div>  